html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title TorontoTrade
		|
		link(rel='shortcut icon', href='/media/favicon.ico', type='image/x-icon')
		// Bootstrap CSS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		|       
		link(href='/style/main.css', rel='stylesheet', type='text/css')
		link(href='/style/purchase-details.css', rel='stylesheet', type='text/css')
	body
		header
			nav
		|
		.container-fluid.main-container
			div(class='purchase-details')
				div(class='purchase-info')
					div(class='purchase-confirmation')= `YOUR ORDER HAS BEEN RECEIVED.`
					div(class='divider')
					div(class='thank-you')= `THANK YOU FOR YOUR PURCHASE!`
					div(class='order-number')= `Your order ID is: ${id}.`
		|
		footer
		|
		// Libraries
		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		// Latest compiled and minified JavaScript
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
		|      
		script(src='/js/purchase.js')
		script(src='/js/api.js')