.create-listing-container {
    width: 90%;
    margin-top: 25px;
    margin-left: auto;
    color: #333;
}

#create-listing-form {
    font-family: Helvetica;
}

#create-listing-form label {
    color: #666;
    font-size: medium;
    margin-top: 10px;
}

#create-listing-form #picture-file {
    margin-bottom: 10px;
    width: 100%;
}

#create-listing-form #price {
    max-width: 200px;
}

#submit-btn {
    font-size: medium;
    padding: 12px 20px;
    color: #fff;
    border-radius: 3px;
    background-image: linear-gradient(to bottom,#0079bc,#00509e);
    float: right;
}