.listing-details {
    margin-top: 15px;
    font-family: Helvetica, sans-serif;
    font-size: normal;
    display: grid;
	grid-template-columns: 0.4fr 0.6fr;
}

.listing-details .listing-image {
    padding-right: 15px;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.listing-info .listing-title {
    color: #111;
    font-size: 20px;
}

.listing-info .listing-creater {
    font-size: 14px;
}

.listing-info a:hover {
    text-decoration: none;
}

.listing-info .listing-price {
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.buy-btn {
    margin-top: 15px;
    background-color: rgb(0, 80, 157);
    color: white;
    font-weight: bold;
    width: 124px;
    padding: 4px 0px 4px 0px;
}