html {overflow: -moz-scrollbars-vertical;}

body {
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3C3D3F;
    text-align: left;
    margin: auto;
}

header #nav-title{
    font-size: 14px;
    margin-right: 0px;
}

.header-btn{
    text-decoration:none;
    font-size: 16px;
    margin-left:5px;
    margin-right:5px;
}

footer{
    margin-top: 20px;
    text-align:center;
}

.alert{
    color: red;
}

.icon{
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
	cursor: pointer;
}

.logo-icon{
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: 75%;
    margin-top: -2.5px;
    margin-right: 5px;
	cursor: pointer;
}

.delete-comment-icon{
    background-image: url('../media/delete-icon.png');
}

.hidden{
	visibility: hidden;
	position: absolute;
}

.bg-blue {
	background-color: #3b5998;
}

.credit {
	color: #365899;
	cursor: pointer;
}

.credit:hover {
	text-decoration: underline;
}

.well {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px 20px;
    margin: 0px 0px 25px 0px;
}

.well-title {
    font-size: large;
    padding: 0px 0px 8px 0px;
}
